html {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#touchBackground {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    visibility: hidden;
}

#countdownTimer {
    background-color: gray;
    width: 75px;
    height: 75px;
    top: 0%;
    right: 0%;
    position: absolute;
    z-index: 1;
}

#count,
#timer {
    color: white;
    top: 18px;
    left: 18px;
    font-size: xx-large;
    position: absolute;
}

#scoreCounter {
    background-color: gray;
    width: 75px;
    height: 75px;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 1;
}

#touchSpace {
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
}

#infoPanel-1,
#infoPanel-2,
#infoPanel-3,
#resultPanel,
#homeButtons {
    background-color: white;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    visibility: visible;
    z-index: 1;
    text-align: center;
}

#infoPanel-2,
#infoPanel-3 {
    visibility: hidden;
}

#resultPanel {
    visibility: hidden;
}

.homeContent {
    margin: auto;
}

#infoTitle,
#resultsTitle,
.taskTitle {
    font-size: x-large;
}

#start,
#restart,
.sectionButton {
    width: 10em;
    height: 3em;
}

#domPri {
    height: 10em;
}