body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#touchSpace {
    width: 80%;
    height: 80%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
}

#countdownTimer {
    background-color: gray;
    width: 75px;
    height: 75px;
    top: 0%;
    right: 0%;
    position: absolute;
}

#count,
#timer {
    color: white;
    top: 18px;
    left: 18px;
    font-size: xx-large;
    position: absolute;
}

#scoreCounter {
    background-color: gray;
    width: 75px;
    height: 75px;
    top: 0%;
    left: 0%;
    position: absolute;
}