<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Monitor Panel</h1>

    <input type="text" id="patientUsername" placeholder="Enter Patient User Name">
    <button id="bindPatient">Bind Patient</button>

    <button id="goButton">Go</button>

    <script>
        const socket = io();

        let caregiverId = 'exampleCaregiverId'; 
        let roomId; 

        document.getElementById('bindPatient').addEventListener('click', () => {
            const patientId = document.getElementById('patientUsername').value;

        // Emit an event to bind caregiver and patient using usernames
            socket.emit('bindPatientByUsername', { caregiverId: caregiverId, patientUsername: patientUsername });
        });

        socket.on('bindingSuccess', (data) => {
            alert('Patient successfully bound to caregiver!');
            roomId = data.roomId; 
        });

        socket.on('bindingError', (error) => {
            alert('Error binding patient: ' + error.msg);
        });

        // send go to server and server broadcast it to every patient in the same room
        document.getElementById('goButton').addEventListener('click', () => {
            if (roomId) {
                socket.emit('go', roomId); 
            } else {
                alert('You need to bind a patient first!');
            }
        });
    </script>
</body>
</html>